
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import url(variables.css);

*{
    font-size: 15px;
    box-sizing: border-box;
}

/* -----Ajustes generales ------- */
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

p, a, span, li, ul, i, div{
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

header{
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-2d6a869);
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-bottom: 4px solid var(--e-global-color-primary);
    box-shadow: 1px 1px 3px var(--e-global-color-primary);
}

header h1{
    font-size: 1.4rem;
}

main{
    width: 100%;
    display: grid;
    align-self: center;
    padding: 30px;

}

section.cabeceraFactura{
    width: 100%;
    padding: 10px;
        
}

.datosFactura{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.datosFactura .zonaFactura{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 15px;
    column-gap: 15px;
    padding-bottom: 15px;
}

.datosFactura .zonaFactura .campoForm{
    display: flex;
    flex-direction: column;
}

.datosFactura .zonaFactura .campoForm input, .datosFactura .zonaFactura .campoForm select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--e-global-color-2d6a869);
}

.datosFactura .campoAgregar{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}

.datosFactura .campoAgregar button{
    padding: 5px;
    width: 110px;
    border-radius: 5px;
    border: 1px solid var(--e-global-color-primary);
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-6b0ce64);
    font-size: .8rem;
    
}

.datosFactura .campoAgregar button:hover{
    cursor: pointer;
    border: 1px solid var(--e-global-color-secondary);
    background-color: var(--e-global-color-secondary);
    box-shadow: 2px 2px 5px var(--e-global-color-secondary);
    
}



section.grillaKardex{
    display: flex;
    width: 100%;
    padding: 10px;
    /* justify-content: center; */
    overflow: auto;
    
}

.kardex-table{
    width: 100%;
    border-collapse: collapse;
    background-color: var(--e-global-color-fdf12ae);
    border-radius: 8px;
    text-align: center;
    /* overflow: auto; */
}

.kardex-table th{
    min-width: 100px;
}

i{
    color: var(--e-global-color-feb1dd0);
}

i:hover{
    cursor: pointer;
}