:root{
    --colorPrimary: #000;
    --colorSecondary: #f7f0f0;
    --colorThird: #FFD700;
    --colorFourth: #1E4D2B;
    --colorFifth: #AB83A1;
    --colorSixth: #EA7251;
    --colorSeventh: #3E4095;
    --colorNineth: #FFB347;
    --colorTenth: #AD343E;
    --colorEleventh: #593F62;
}