:root{
    --e-global-color-primary: #010E30;
    --e-global-color-secondary: #4E8EB4;
    --e-global-color-text: #7F7F7F;
    --e-global-color-accent: #0D0D0D;
    --e-global-color-4da9a17: #010E30;
    --e-global-color-b8a96f0: #010E30;
    --e-global-color-9c764db: #010E30;
    --e-global-color-50b2a21: #FFFFFF45;
    --e-global-color-2d6a869: #DADADA;
    --e-global-color-6b0ce64: #F9F9F9;
    --e-global-color-fdf12ae: #FFFFFFD4;
    --e-global-color-a96fbfa: #9C9C9C;
    --e-global-color-8f6ad74: #023E7D7D;
    --e-global-color-feb1dd0: #001845E0;
    --e-global-color-41b80be: #FFFFFF;
}